"""seltzapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from seltzapi.api_helper import APIHelper
from seltzapi.apis.base_api import BaseApi
from seltzapi.configuration import Server
from seltzapi.exceptions.error_envelope_exception import (
    ErrorEnvelopeException,
)
from seltzapi.http.http_method_enum import HttpMethodEnum
from seltzapi.models.agent_run import AgentRun
from seltzapi.models.list_agent_runs_response import (
    ListAgentRunsResponse,
)


class AgentApi(BaseApi):
    """A Controller to access Endpoints in the seltzapi API."""

    def __init__(self, config):
        """Initialize AgentApi object."""
        super(AgentApi, self).__init__(config)

    def list_agent_runs(self,
                        limit=None,
                        after=None):
        """Perform a GET request to /v1/agent/runs.

        The organization's runs, newest first. Pass one page's `next` as the
        following request's `after`.

        Args:
            limit (int, optional): Page size, 1-100. Defaults to 20.
            after (str, optional): Pagination cursor: the previous page's `next`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. One page of runs,
                newest first.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/agent/runs")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("after")
                .value(after))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListAgentRunsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Malformed or unknown query parameter.",
                ErrorEnvelopeException)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("404", "Unknown `after` cursor.", ErrorEnvelopeException)
            .local_error("500", "Unexpected server error.", ErrorEnvelopeException),
        ).execute()

    def create_agent_run(self,
                         body):
        """Perform a POST request to /v1/agent/runs.

        Returns the new run in `pending` state. Poll it by id until `status` reaches
        a terminal state.

        Args:
            body (CreateAgentRunRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The new run, in
                `pending` state.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/agent/runs")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentRun.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Malformed body, unknown field, unknown `effort`, or a rejected `outp"
                "ut_schema`.",
                ErrorEnvelopeException)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("402", "Insufficient credits.", ErrorEnvelopeException)
            .local_error("500", "Unexpected server error.", ErrorEnvelopeException),
        ).execute()

    def get_agent_run(self,
                      id):
        """Perform a GET request to /v1/agent/runs/{id}.

        Poll until `status` reaches a terminal state.

        Args:
            id (str): The run id.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The run.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/agent/runs/{id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentRun.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("404", "No such run in this org.", ErrorEnvelopeException)
            .local_error("500", "Unexpected server error.", ErrorEnvelopeException),
        ).execute()

    def cancel_agent_run(self,
                         id):
        """Perform a POST request to /v1/agent/runs/{id}/cancel.

        Stop a run that has not finished. Returns the run, unchanged if it had
        already ended, so cancelling is safe to retry.

        Args:
            id (str): The run id.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The run.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/agent/runs/{id}/cancel")
            .http_method(HttpMethodEnum.POST)
            .template_param(Parameter()
                .key("id")
                .value(id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(AgentRun.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("404", "No such run in this org.", ErrorEnvelopeException)
            .local_error("500", "Unexpected server error.", ErrorEnvelopeException),
        ).execute()
