"""seltzapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from seltzapi.api_helper import APIHelper
from seltzapi.apis.base_api import BaseApi
from seltzapi.configuration import Server
from seltzapi.exceptions.error_envelope_exception import (
    ErrorEnvelopeException,
)
from seltzapi.http.http_method_enum import HttpMethodEnum
from seltzapi.models.fetch_response import FetchResponse


class FetchApi(BaseApi):
    """A Controller to access Endpoints in the seltzapi API."""

    def __init__(self, config):
        """Initialize FetchApi object."""
        super(FetchApi, self).__init__(config)

    def fetch(self,
              body):
        """Perform a POST request to /v1/fetch.

        Args:
            body (FetchRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. One result per
                requested URL. A failure to fetch a page is still a 200, with that
                result's `status = "error"`.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/fetch")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(FetchResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Malformed body, an out-of-bounds or duplicated `urls` entry, or an u"
                "navailable `formats` or `tier` value. Unrecognized fields are ignore"
                "d.",
                ErrorEnvelopeException)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("402", "Insufficient credits.", ErrorEnvelopeException)
            .local_error("429", "Rate limited.", ErrorEnvelopeException)
            .local_error("500", "Unexpected server error.", ErrorEnvelopeException),
        ).execute()
