"""seltzapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from seltzapi.api_helper import APIHelper
from seltzapi.apis.base_api import BaseApi
from seltzapi.configuration import Server
from seltzapi.exceptions.error_envelope_exception import (
    ErrorEnvelopeException,
)
from seltzapi.http.http_method_enum import HttpMethodEnum
from seltzapi.models.create_monitor_response import (
    CreateMonitorResponse,
)
from seltzapi.models.get_monitor_response import (
    GetMonitorResponse,
)
from seltzapi.models.list_monitors_response import (
    ListMonitorsResponse,
)
from seltzapi.models.update_monitor_response import (
    UpdateMonitorResponse,
)


class MonitorsApi(BaseApi):
    """A Controller to access Endpoints in the seltzapi API."""

    def __init__(self, config):
        """Initialize MonitorsApi object."""
        super(MonitorsApi, self).__init__(config)

    def list_monitors(self,
                      name=None,
                      status=None,
                      since=None,
                      before=None,
                      limit=None):
        """Perform a GET request to /v1/monitors.

        Args:
            name (str, optional): Matches a monitor whose name is exactly this.
            status (str, optional): One of `active`, `paused`, `disabled`. `deleted`
                is not a filter: a deleted monitor is invisible.
            since (str, optional): Exclusive lower bound: the `monitor_id` of a
                monitor to start after.
            before (str, optional): Exclusive upper bound. The list is newest first,
                so page forward with the `monitor_id` of the last monitor on the
                previous page.
            limit (int, optional): Defaults to 100, at most 1,000. A short page is
                normal: a page ends at `limit` or at the byte budget, whichever binds
                first.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The org's monitors.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors")
            .http_method(HttpMethodEnum.GET)
            .query_param(Parameter()
                .key("name")
                .value(name))
            .query_param(Parameter()
                .key("status")
                .value(status))
            .query_param(Parameter()
                .key("since")
                .value(since))
            .query_param(Parameter()
                .key("before")
                .value(before))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListMonitorsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException),
        ).execute()

    def create_monitor(self,
                       body):
        """Perform a POST request to /v1/monitors.

        Args:
            body (CreateMonitorRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Created.
                `webhook_secret` is returned once and never again.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors")
            .http_method(HttpMethodEnum.POST)
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(CreateMonitorResponse.from_dictionary)
            .is_api_response(True)
            .local_error("400",
                "Missing or malformed fields.",
                ErrorEnvelopeException)
            .local_error("401", "Invalid or missing API key.", ErrorEnvelopeException)
            .local_error("409",
                "That name is already taken in this org.",
                ErrorEnvelopeException),
        ).execute()

    def get_monitor(self,
                    monitor_id):
        """Perform a GET request to /v1/monitors/{monitor_id}.

        Args:
            monitor_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The monitor.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetMonitorResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such monitor in this org.",
                ErrorEnvelopeException),
        ).execute()

    def delete_monitor(self,
                       monitor_id):
        """Perform a DELETE request to /v1/monitors/{monitor_id}.

        Args:
            monitor_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Deleted. Every record
                becomes invisible at once.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}")
            .http_method(HttpMethodEnum.DELETE)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .is_api_response(True)
            .local_error("404",
                "No such monitor in this org.",
                ErrorEnvelopeException),
        ).execute()

    def update_monitor(self,
                       monitor_id,
                       body):
        """Perform a PATCH request to /v1/monitors/{monitor_id}.

        Args:
            monitor_id (str): The request template parameter.
            body (UpdateMonitorRequest): The request body parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. Updated.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}")
            .http_method(HttpMethodEnum.PATCH)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("Content-Type")
                .value("application/json"))
            .body_param(Parameter()
                .value(body)
                .is_required(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .body_serializer(APIHelper.json_serialize)
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(UpdateMonitorResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such monitor in this org.",
                ErrorEnvelopeException)
            .local_error("409",
                "That name is already taken in this org.",
                ErrorEnvelopeException),
        ).execute()
