"""seltzapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from seltzapi.api_helper import APIHelper
from seltzapi.apis.base_api import BaseApi
from seltzapi.configuration import Server
from seltzapi.exceptions.error_envelope_exception import (
    ErrorEnvelopeException,
)
from seltzapi.http.http_method_enum import HttpMethodEnum
from seltzapi.models.list_records_response import (
    ListRecordsResponse,
)
from seltzapi.models.list_run_records_response import (
    ListRunRecordsResponse,
)


class RecordsApi(BaseApi):
    """A Controller to access Endpoints in the seltzapi API."""

    def __init__(self, config):
        """Initialize RecordsApi object."""
        super(RecordsApi, self).__init__(config)

    def list_records(self,
                     monitor_id,
                     since=None,
                     before=None,
                     limit=None,
                     include_content=None):
        """Perform a GET request to /v1/monitors/{monitor_id}/records.

        Args:
            monitor_id (str): The request template parameter.
            since (str, optional): Exclusive lower bound on `record_id`.
            before (str, optional): Exclusive upper bound on `record_id`.
            limit (int, optional): Defaults to 100, at most 1,000. A short page is
                normal: a page ends at `limit` or at the byte budget, whichever binds
                first.
            include_content (bool, optional): Include each record's document content.
                Defaults to true.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A page of records.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}/records")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("since")
                .value(since))
            .query_param(Parameter()
                .key("before")
                .value(before))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("include_content")
                .value(include_content))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListRecordsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such monitor in this org.",
                ErrorEnvelopeException),
        ).execute()

    def list_run_records(self,
                         monitor_id,
                         run_id,
                         since=None,
                         before=None,
                         limit=None,
                         include_content=None):
        """Perform a GET request to
        /v1/monitors/{monitor_id}/runs/{run_id}/records.

        Exists so that no consumer does arithmetic on a record id: a webhook carries
        a run's record range as a bound, not a dense sequence.

        Args:
            monitor_id (str): The request template parameter.
            run_id (str): The request template parameter.
            since (str, optional): Exclusive lower bound on `record_id`.
            before (str, optional): Exclusive upper bound on `record_id`.
            limit (int, optional): Defaults to 100, at most 1,000. A short page is
                normal: a page ends at `limit` or at the byte budget, whichever binds
                first.
            include_content (bool, optional): Include each record's document content.
                Defaults to true.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A page of that run's
                records.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}/runs/{run_id}/records")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("run_id")
                .value(run_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("since")
                .value(since))
            .query_param(Parameter()
                .key("before")
                .value(before))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("include_content")
                .value(include_content))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListRunRecordsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such run on this monitor.",
                ErrorEnvelopeException),
        ).execute()
