"""seltzapi.

This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
"""

# ruff: noqa: D410, E501, E101, D206
from apimatic_core.authentication.multiple.single_auth import (
    Single,
)
from apimatic_core.request_builder import RequestBuilder
from apimatic_core.response_handler import ResponseHandler
from apimatic_core.types.parameter import Parameter

from seltzapi.api_helper import APIHelper
from seltzapi.apis.base_api import BaseApi
from seltzapi.configuration import Server
from seltzapi.exceptions.error_envelope_exception import (
    ErrorEnvelopeException,
)
from seltzapi.http.http_method_enum import HttpMethodEnum
from seltzapi.models.get_run_response import (
    GetRunResponse,
)
from seltzapi.models.list_run_requests_response import (
    ListRunRequestsResponse,
)
from seltzapi.models.list_runs_response import (
    ListRunsResponse,
)


class RunsApi(BaseApi):
    """A Controller to access Endpoints in the seltzapi API."""

    def __init__(self, config):
        """Initialize RunsApi object."""
        super(RunsApi, self).__init__(config)

    def list_runs(self,
                  monitor_id,
                  since=None,
                  before=None,
                  limit=None,
                  sort=None):
        """Perform a GET request to /v1/monitors/{monitor_id}/runs.

        Args:
            monitor_id (str): The request template parameter.
            since (str, optional): Exclusive lower bound on `run_id`.
            before (str, optional): Exclusive upper bound on `run_id`.
            limit (int, optional): Defaults to 100, at most 1,000.
            sort (str, optional): `desc` (the default, newest first) or `asc`.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. A page of runs.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}/runs")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .query_param(Parameter()
                .key("since")
                .value(since))
            .query_param(Parameter()
                .key("before")
                .value(before))
            .query_param(Parameter()
                .key("limit")
                .value(limit))
            .query_param(Parameter()
                .key("sort")
                .value(sort))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListRunsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such monitor in this org.",
                ErrorEnvelopeException),
        ).execute()

    def get_run(self,
                monitor_id,
                run_id):
        """Perform a GET request to /v1/monitors/{monitor_id}/runs/{run_id}.

        Args:
            monitor_id (str): The request template parameter.
            run_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. The run. Carries no
                records and no breakdown.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}/runs/{run_id}")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("run_id")
                .value(run_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(GetRunResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such run on this monitor.",
                ErrorEnvelopeException),
        ).execute()

    def list_run_requests(self,
                          monitor_id,
                          run_id):
        """Perform a GET request to
        /v1/monitors/{monitor_id}/runs/{run_id}/requests.

        The only place a customer can tell *this query failed* from *there was
        genuinely nothing new*: records are a stream of positives, and absence cannot
        be inferred from presences.

        Args:
            monitor_id (str): The request template parameter.
            run_id (str): The request template parameter.

        Returns:
            ApiResponse: An object with the response value as well as other useful
                information such as status codes and headers. That run's per-request
                outcomes.

        Raises:
            ApiException: When an error occurs while fetching the data from the
                remote API. This exception includes the HTTP Response code, an error
                message, and the HTTP body that was received in the request.

        """
        return super().new_api_call_builder.request(
            RequestBuilder().server(Server.DEFAULT)
            .path("/v1/monitors/{monitor_id}/runs/{run_id}/requests")
            .http_method(HttpMethodEnum.GET)
            .template_param(Parameter()
                .key("monitor_id")
                .value(monitor_id)
                .is_required(True)
                .should_encode(True))
            .template_param(Parameter()
                .key("run_id")
                .value(run_id)
                .is_required(True)
                .should_encode(True))
            .header_param(Parameter()
                .key("accept")
                .value("application/json"))
            .auth(Single("ApiKeyAuth")),
        ).response(
            ResponseHandler()
            .deserializer(APIHelper.json_deserialize)
            .deserialize_into(ListRunRequestsResponse.from_dictionary)
            .is_api_response(True)
            .local_error("404",
                "No such run on this monitor.",
                ErrorEnvelopeException),
        ).execute()
